.explanations {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
       display: flex;
       flex-direction: column-reverse;
       gap: 5px;
       align-items: center;
       justify-content: space-between;
    }

    &__img{
        width: 35px;
    }

    &__text {
        font-weight: 700;
        font-family: 'Quicksand', sans-serif;
    }
}